json/agendamento_consulta.json
{
  "name": "Agendamento Consulta WhatsApp",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agendamento-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-agendamento",
      "name": "Webhook Agendamento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extrair dados do agendamento que o Backend encaminhou (já com clientId)\\nconst body = $input.first().json.body;\\n\\nconst clientId = body.clientId; // ID da Clínica\\nconst messageText = body.message.body; // Texto original da mensagem do paciente\\nconst phone = body.message.from ? body.message.from.split('@')[0] : 'N/A';\\n\\n// Extrair informações da mensagem do paciente (ajuste os regex conforme o paciente digita)\\nconst nomeMatch = messageText.match(/nome[:\\\\s]*(.+)/i);\\nconst cpfMatch = messageText.match(/cpf[:\\\\s]*([\\\\d.-]+)/i);\\nconst horarioMatch = messageText.match(/horário[:\\\\s]*(\\\\d{1,2}:\\\\d{2})/i);\\nconst profissionalMatch = messageText.match(/profissional[:\\\\s]*(.+)/i);\\n\\nif (!nomeMatch || !cpfMatch || !horarioMatch || !profissionalMatch) {\\n  throw new Error('Dados incompletos para agendamento. Por favor, forneça o horário preferido, profissional, seu nome completo e seu CPF.');\\n}\\n\\nreturn [\\n  {\\n    json: {\\n      clientId: clientId,\\n      nome: nomeMatch[1].trim(),\\n      cpf: cpfMatch[1].replace(/[.-]/g, ''),\\n      telefone: phone,\\n      horario_escolhido: horarioMatch[1].trim(),\\n      profissional_nome_completo: profissionalMatch[1].trim(),\\n      status: 'PENDENTE_CONFIRMACAO' // Status inicial da consulta criada pelo bot\\n    }\\n  }\\n];"
      },
      "id": "extrair-dados",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/pacientes/buscar-ou-criar",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ $env.BACKEND_API_TOKEN }}"
          }
        ],
        "sendBody": true,
        "bodyParameters": [  
          {
            "name": "clientId",
            "value": "={{ $('Extrair Dados').first().json.clientId }}"
          },
          {
            "name": "nome",
            "value": "={{ $('Extrair Dados').first().json.nome }}"
          },
          {
            "name": "cpf",
            "value": "={{ $('Extrair Dados').first().json.cpf }}"
          },
          {
            "name": "telefone",
            "value": "={{ $('Extrair Dados').first().json.telefone }}"
          },
          {
            "name": "email",
            "value": ""
          },
          {
            "name": "data_nascimento",
            "value": "2000-01-01"
          }
        ],
        "options": {}
      },
      "id": "buscar-criar-paciente",
      "name": "Buscar/Criar Paciente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hLqrUhAwdSuSf2LS",
          "name": "AuthBackendClinica"
        }
      }
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/profissionais/buscarPorNome",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ $env.BACKEND_API_TOKEN }}"
          }
        ],
        "sendQuery": true,
        "queryParameters": [  
          {
            "name": "nomeProfissional",
            "value": "={{ $('Extrair Dados').first().json.profissional_nome_completo }}"
          }
        ],
        "sendBody": true,
        "bodyParameters": [  
          {
            "name": "clientId",
            "value": "={{ $('Extrair Dados').first().json.clientId }}"
          }
        ],
        "options": {}
      },
      "id": "buscar-profissional",
      "name": "Buscar Profissional",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hLqrUhAwdSuSf2LS",
          "name": "AuthBackendClinica"
        }
      }
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/consultas/criarPeloAgente",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ $env.BACKEND_API_TOKEN }}"
          }
        ],
        "sendBody": true,
        "bodyParameters": [  
          {
            "name": "clientId",
            "value": "={{ $('Extrair Dados').first().json.clientId }}"
          },
          {
            "name": "paciente_id",
            "value": "={{ $('Buscar/Criar Paciente').first().json.data.id_paciente }}"
          },
          {
            "name": "profissional_id",
            "value": "={{ $('Buscar Profissional').first().json.data[0].id_profissional_saude }}"
          },
          {
            "name": "data_hora_inicio",
            "value": "={{ new Date().toISOString() }}"
          },
          {
            "name": "hora",
            "value": "={{ $('Extrair Dados').first().json.horario_escolhido }}"
          },
          {
            "name": "valor",
            "value": "0"
          },
          {
            "name": "telemedicina",
            "value": "false"
          },
          {
            "name": "status",
            "value": "PENDENTE_CONFIRMACAO"
          },
          {
            "name": "observacoes",
            "value": "Agendamento inicial via Agente IA WhatsApp"
          }
        ],
        "options": {}
      },
      "id": "criar-consulta",
      "name": "Criar Consulta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hLqrUhAwdSuSf2LS",
          "name": "AuthBackendClinica"
        }
      }
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/whatsapp/sendMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ $env.BACKEND_API_TOKEN }}"
          }
        ],
        "sendBody": true,
        "bodyParameters": [  
          {
            "name": "clientId",
            "value": "={{ $('Extrair Dados').first().json.clientId }}"
          },
          {
            "name": "to",
            "value": "={{ $('Extrair Dados').first().json.telefone }}"
          },
          {
            "name": "message",
            "value": "✅ *Consulta Agendada com Sucesso!*\\n\\n👤 *Paciente:* {{ $('Extrair Dados').first().json.nome }}\\n📅 *Data:* {{ new Date($json.data.data_hora_inicio).toLocaleDateString('pt-BR') }}\\n🕐 *Horário:* {{ $('Extrair Dados').first().json.horario_escolhido }}\\n👨‍⚕️ *Profissional:* Dr(a). {{ $('Extrair Dados').first().json.profissional_nome_completo }}\\n\\n📋 *Protocolo:* #{{ $json.data.id_consulta }}\\n\\n⚠️ *Importante:*\\n• Chegue 15 minutos antes\\n• Traga documento com foto\\n• Em caso de cancelamento, avise com 1 hora de antecedência\\n\\n📞 Dúvidas? Entre em contato: {{ $env.CLINIC_PHONE }}"
          }
        ],
        "options": {}
      },
      "id": "enviar-confirmacao",
      "name": "Enviar Confirmação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hLqrUhAwdSuSf2LS",
          "name": "AuthBackendClinica"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Agendamento processado"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook Agendamento": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "Buscar/Criar Paciente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Profissional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar/Criar Paciente": {
      "main": [
        [
          {
            "node": "Criar Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Profissional": {
      "main": [
        [
          {
            "node": "Criar Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Consulta": {
      "main": [
        [
          {
            "node": "Enviar Confirmação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Confirmação": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}