json/lembrete_consulta.json
{
  "name": "Lembretes Consultas Diários",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "cron-daily",
      "name": "Cron Diário 18h",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/consultas/buscarProximasConsultas",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ $env.BACKEND_API_TOKEN }}"
          }
        ],
        "sendQuery": true,
        "queryParameters": [  
          {
            "name": "clientId",
            "value": "minha_clinica_teste_id"
          },
          {
            "name": "data",
            "value": "={{ new Date(Date.now() + 24*60*60*1000).toISOString().split('T')[0] }}"
          },
          {
            "name": "status",
            "value": "AGENDADA"
          }
        ],
        "options": {}
      },
      "id": "buscar-consultas-amanha",
      "name": "Buscar Consultas Amanhã",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hLqrUhAwdSuSf2LS",
          "name": "AuthBackendClinica"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "dividir-consultas",
      "name": "Dividir Consultas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/whatsapp/sendMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ $env.BACKEND_API_TOKEN }}"
          }
        ],
        "sendBody": true,
        "bodyParameters": [  
          {
            "name": "clientId",
            "value": "={{ $('Buscar Consultas Amanhã').first().json.clientId || 'minha_clinica_teste_id' }}"
          },
          {
            "name": "to",
            "value": "={{ $json.paciente.telefone }}"
          },
          {
            "name": "message",
            "value": "🔔 *Lembrete de Consulta*\\n\\n👋 Olá, {{ $json.paciente.nome }}!\\n\\n📅 Você tem uma consulta agendada para *amanhã*:\\n\\n🕐 *Horário:* {{ new Date($json.data_hora_inicio).toLocaleTimeString('pt-BR', {hour: '2-digit', minute: '2-digit'}) }}\\n👨‍⚕️ *Profissional:* Dr(a). {{ $json.profissional.nome_profissional }}\\n🏥 *Local:* {{ $json.telemedicina ? 'Telemedicina' : 'Presencial - Verifique no agendamento' }}\\n\\n⚠️ *Lembrete importante:*\\n• Chegue 15 minutos antes\\n• Traga documento com foto\\n• Para cancelar, avise com 1 hora de antecedência\\n\\n📞 Dúvidas? {{ $env.CLINIC_PHONE }}\\n\\n✅ Responda *SIM {{ $json.id_consulta }}* para confirmar presença\\n❌ Responda *CANCELAR {{ $json.id_consulta }}* se não puder comparecer"
          }
        ],
        "options": {}
      },
      "id": "enviar-lembrete",
      "name": "Enviar Lembrete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hLqrUhAwdSuSf2LS",
          "name": "AuthBackendClinica"
        }
      }
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/consultas/{{ $json.id_consulta }}/lembrete-enviado",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ $env.BACKEND_API_TOKEN }}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "sendBody": true,
        "bodyParameters": [  
          {
            "name": "clientId",
            "value": "={{ $('Buscar Consultas Amanhã').first().json.clientId || 'minha_clinica_teste_id' }}"
          },
          {
            "name": "lembrete_enviado",
            "value": "true"
          },
          {
            "name": "data_lembrete",
            "value": "={{ new Date().toISOString() }}"
          }
        ],
        "options": {}
      },
      "id": "atualizar-status-lembrete",
      "name": "Atualizar Status Lembrete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hLqrUhAwdSuSf2LS",
          "name": "AuthBackendClinica"
        }
      }
    }
  ],
  "connections": {
    "Cron Diário 18h": {
      "main": [
        [
          {
            "node": "Buscar Consultas Amanhã",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Consultas Amanhã": {
      "main": [
        [
          {
            "node": "Dividir Consultas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir Consultas": {
      "main": [
        [
          {
            "node": "Enviar Lembrete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Lembrete": {
      "main": [
        [
          {
            "node": "Atualizar Status Lembrete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}