json/pesquisa_nps.json
{
  "name": "Pesquisa Satisfação NPS",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "cron-nps",
      "name": "Cron Diário 10h",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/consultas/buscarRealizadasOntem",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ $env.BACKEND_API_TOKEN }}"
          }
        ],
        "sendQuery": true,
        "queryParameters": [  
          {
            "name": "clientId",
            "value": "minha_clinica_teste_id"
          }
        ],
        "options": {}
      },
      "id": "buscar-consultas-realizadas-ontem",
      "name": "Buscar Consultas Realizadas Ontem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hLqrUhAwdSuSf2LS",
          "name": "AuthBackendClinica"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "dividir-consultas",
      "name": "Dividir Consultas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/whatsapp/sendMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ $env.BACKEND_API_TOKEN }}"
          }
        ],
        "sendBody": true,
        "bodyParameters": [  
          {
            "name": "clientId",
            "value": "={{ $('Buscar Consultas Realizadas Ontem').first().json.clientId || 'minha_clinica_teste_id' }}"
          },
          {
            "name": "to",
            "value": "={{ $json.paciente.telefone }}"
          },
          {
            "name": "message",
            "value": "⭐ *Pesquisa de Satisfação*\\n\\n👋 Olá, {{ $json.paciente.nome }}!\\n\\nEsperamos que sua consulta com Dr(a). {{ $json.profissional.nome_profissional }} tenha sido excelente!\\n\\n🎯 *Sua opinião é muito importante para nós.*\\n\\nEm uma escala de 0 a 10, o quanto você recomendaria nossa clínica para um amigo ou familiar?\\n\\n*Responda apenas com um número de 0 a 10: (Ex: 9)*\\n\\n💬 Após sua nota, fique à vontade para deixar um comentário sobre sua experiência.\\n\\n🙏 Obrigado pelo seu tempo! *ID da Consulta: {{ $json.id_consulta }}*"
          }
        ],
        "options": {}
      },
      "id": "enviar-pesquisa-nps",
      "name": "Enviar Pesquisa NPS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hLqrUhAwdSuSf2LS",
          "name": "AuthBackendClinica"
        }
      }
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/consultas/{{ $json.id_consulta }}/nps-enviado",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ $env.BACKEND_API_TOKEN }}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "sendBody": true,
        "bodyParameters": [  
          {
            "name": "clientId",
            "value": "={{ $('Buscar Consultas Realizadas Ontem').first().json.clientId || 'minha_clinica_teste_id' }}"
          },
          {
            "name": "nps_enviado",
            "value": "true"
          },
          {
            "name": "data_nps_enviado",
            "value": "={{ new Date().toISOString() }}"
          }
        ],
        "options": {}
      },
      "id": "atualizar-status-nps",
      "name": "Atualizar Status NPS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hLqrUhAwdSuSf2LS",
          "name": "AuthBackendClinica"
        }
      }
    }
  ],
  "connections": {
    "Cron Diário 10h": {
      "main": [
        [
          {
            "node": "Buscar Consultas Realizadas Ontem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Consultas Realizadas Ontem": { 
      "main": [
        [
          {
            "node": "Dividir Consultas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir Consultas": {
      "main": [
        [
          {
            "node": "Enviar Pesquisa NPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Pesquisa NPS": {
      "main": [
        [
          {
            "node": "Atualizar Status NPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}