json/whatsapp_atendimento.json
{
  "name": "WhatsApp Atendimento Clínica",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-whatsapp",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extrair dados da mensagem que o Backend encaminhou (já com clientId)\\nconst body = $input.first().json.body;\\n\\n// O backend que enviou o clientId e o objeto original da mensagem do Venom-Bot\\nconst clientId = body.clientId; // Este é o id_clinica\\nconst message = body.message; // Este é o objeto 'data' original do Venom-Bot\\n\\nlet phone;\\nlet messageText;\\nlet contactName = 'Paciente';\\n\\n// Extrai os campos do objeto 'message' recebido do backend\\nphone = message.from ? message.from.split('@')[0] : 'N/A'; // Remove @c.us\\nmessageText = message.body;\\ncontactName = message.pushname || message.from; // Usa pushname ou o número como nome\\n\\nreturn [\\n  {\\n    json: {\\n      clientId: clientId, // ID da Clínica (importante para todas as chamadas ao backend)\\n      phone: phone,\\n      name: contactName,\\n      message_text: messageText,\\n      message_id: message.id || 'N/A',\\n      timestamp: message.t || Date.now() / 1000\\n    }\\n  }\\n];"
      },
      "id": "process-message",
      "name": "Processar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/ai/analyzeMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ $env.BACKEND_API_TOKEN }}"
          }
        ],
        "sendBody": true,
        "bodyParameters": [  
          {
            "name": "clientId",
            "value": "={{ $('Processar Mensagem').first().json.clientId }}"
          },
          {
            "name": "messageText",
            "value": "={{ $('Processar Mensagem').first().json.message_text }}"
          },
          {
            "name": "systemPrompt",
            "value": "Você é um assistente virtual da Clínica {{ $env.CLINIC_NAME || 'Sua Clínica' }}. Suas funções são:\\n1. Responder dúvidas sobre horários, procedimentos e localização\\n2. Identificar se o paciente quer agendar consulta\\n3. Fornecer informações gerais sobre saúde\\n4. Ser sempre educado e profissional\\n\\nRegras:\\n- Não forneça diagnósticos médicos\\n- Sempre sugira consulta presencial para questões de saúde\\n- Seja claro e objetivo nas respostas\\n- Use linguagem acessível\\n- Se identificar claramente a intenção de agendamento de consulta, responda *exatamente* com a palavra-chave: 'AGENDAR_CONSULTA'\\n- Se não conseguir atender ou identificar a intenção, responda com: 'DESVIAR_HUMANO'\\n\\nInformações da clínica:\\n- Horário: Segunda a Sexta, 8h às 18h\\n- Endereço: [ENDEREÇO_CLINICA - EX: Rua das Rosas, 450, Centro, Chapecó, SC]\\n- Telefone: {{ $env.CLINIC_PHONE || '(XX) XXXXX-XXXX' }}"
          }
        ],
        "options": {}
      },
      "id": "chamar-ia-para-analise",
      "name": "Chamar IA para Análise",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hLqrUhAwdSuSf2LS",
          "name": "AuthBackendClinica"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.response }}",
              "rightValue": "AGENDAR_CONSULTA",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "verificar-intencao-agendamento",
      "name": "Verificar Intenção Agendamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.response }}",
              "rightValue": "DESVIAR_HUMANO",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "verificar-intencao-desviar-humano",
      "name": "Verificar Intenção Desviar Humano",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/agenda/disponibilidade",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ $env.BACKEND_API_TOKEN }}"
          }
        ],
        "sendQuery": true,
        "queryParameters": [  
          {
            "name": "clientId",
            "value": "={{ $('Processar Mensagem').first().json.clientId }}"
          },
          {
            "name": "dataInicio",
            "value": "={{ new Date().toISOString().split('T')[0] }}"
          },
          {
            "name": "dataFim",
            "value": "={{ new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}"
          },
          {
            "name": "disponivelParaAgendamento",
            "value": "true"
          }
        ],
        "options": {}
      },
      "id": "verificar-disponibilidade",
      "name": "Verificar Disponibilidade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hLqrUhAwdSuSf2LS",
          "name": "AuthBackendClinica"
        }
      }
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/whatsapp/sendMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ $env.BACKEND_API_TOKEN }}"
          }
        ],
        "sendBody": true,
        "bodyParameters": [  
          {
            "name": "clientId",
            "value": "={{ $('Processar Mensagem').first().json.clientId }}"
          },
          {
            "name": "to",
            "value": "={{ $('Processar Mensagem').first().json.phone }}"
          },
          {
            "name": "message",
            "value": "={{ $node['Chamar IA para Análise'].json.response }}"
          }
        ],
        "options": {}
      },
      "id": "enviar-resposta-geral",
      "name": "Enviar Resposta Geral",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hLqrUhAwdSuSf2LS",
          "name": "AuthBackendClinica"
        }
      }
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/whatsapp/sendMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ $env.BACKEND_API_TOKEN }}"
          }
        ],
        "sendBody": true,
        "bodyParameters": [  
          {
            "name": "clientId",
            "value": "={{ $('Processar Mensagem').first().json.clientId }}"
          },
          {
            "name": "to",
            "value": "={{ $('Processar Mensagem').first().json.phone }}"
          },
          {
            "name": "message",
            "value": "Ótimo! Vou te ajudar a agendar sua consulta. Temos os seguintes horários disponíveis:\\n\\n{{ ($json.data && $json.data.length > 0) ? $json.data.map(h => `📅 ${new Date(h.data).toLocaleDateString('pt-BR')} às ${h.hora_inicio.substring(0, 5)} - Dr(a). ${h.profissional_nome}`).join('\\n') : 'Nenhum horário disponível no momento.' }}\\n\\nPara confirmar, por favor, me informe:\\n1️⃣ Qual horário prefere (Ex: 10:00)?\\n2️⃣ Com qual profissional (Ex: Dr. João)?\\n3️⃣ Seu nome completo\\n4️⃣ Seu CPF (apenas números)"
          }
        ],
        "options": {}
      },
      "id": "enviar-opcoes-agendamento",
      "name": "Enviar Opções Agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hLqrUhAwdSuSf2LS",
          "name": "AuthBackendClinica"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/whatsapp/sendMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "Bearer {{ $env.BACKEND_API_TOKEN }}"
          }
        ],
        "sendBody": true,
        "bodyParameters": [  
          {
            "name": "clientId",
            "value": "={{ $('Processar Mensagem').first().json.clientId }}"
          },
          {
            "name": "to",
            "value": "={{ $('Processar Mensagem').first().json.phone }}"
          },
          {
            "name": "message",
            "value": "Desculpe, não consegui entender completamente. Por favor, reformule sua pergunta ou aguarde que um atendente humano entrará em contato em horário comercial. Agradeço a sua compreensão."
          }
        ],
        "options": {}
      },
      "id": "enviar-fallback-humano",
      "name": "Enviar Fallback Humano",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hLqrUhAwdSuSf2LS",
          "name": "AuthBackendClinica"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Processar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Mensagem": {
      "main": [
        [
          {
            "node": "Chamar IA para Análise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar IA para Análise": {
      "main": [
        [
          {
            "node": "Verificar Intenção Agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Intenção Desviar Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Intenção Agendamento": {
      "main": [
        [
          {
            "node": "Verificar Disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "else": [
        [
          {
            "node": "Enviar Resposta Geral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Intenção Desviar Humano": {
      "main": [
        [
          {
            "node": "Enviar Fallback Humano",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "else": [
        [
          {
            "node": "Enviar Resposta Geral",
            "type": "else",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Disponibilidade": {
      "main": [
        [
          {
            "node": "Enviar Opções Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Resposta Geral": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Opções Agendamento": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Fallback Humano": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}